<h1 class="text-center"><%= @title %></h1>

<div id="videos">
  <% @videos.each do |video| %>
    <div class="video">
      <a href=<%= video.get_video_show_path %>>
        <img src=<%= video.get_poster_path %> alt="Video Poster" />
        <p class="text-center"><%= video.get_title %></p>
      </a>
    </div>
  <% end %>
</div>
