<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Media Library</title>
    <link rel="stylesheet" href="/stylesheets/video.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/system_wide.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
