<h1 class="text-center">New Video</h1>

<div id="new-video">
  <form action="/video/create" method="post" enctype="multipart/form-data" id="new_video">

    <div class="form-group">
      <label for="video[title]">Title</label><br>
      <input type="text" name="video[title]" value=""><br>
    </div>

    <div class="form-group">
      <label for="video[description]">Description</label><br>
      <textarea name="video[description]" form="new_video" rows="8"></textarea>
    </div>

    <div class="form-group">
      <label for="video[genre]">Genre</label><br>
      <input type="text" name="video[genre]" value=""><br>
    </div>

    <div class="form-group">
      <label for="image-file">Image</label><br>
      <input type="file" name="image-file" value=""><br>
    </div>

    <div class="form-group">
      <label for="video-file">Video</label><br>
      <input type="file" name="video-file" value=""><br>
    </div>

    <div class="form-group">
      <input type="submit" name="submit" value="Submit">
    </div>

  </form>
</div>
