<h1 class="text-center"><%= @title %></h1>

<div id="video-watch">
  <video id="video-canvas" class="video-js" controls preload="auto" data-setup="{}">
    <source src=<%= @video.get_video_watch_path %> type="video/mp4">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
</div>
