<h1 class="text-center"><%= @title %></h1>

<div id="video-watch">
  <video controls>
    <source src=<%= @video.get_video_watch_path %> type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
</div>
