#header {
  background-color: #fafafa;
  padding: 20px;
}

#header ul {
  width: 77%;
  margin: 0 auto;
}

#header ul li {
  display: inline;
  font-size: 1.5rem;
  margin-right: 70px;
}

@media screen and (max-width: 640px) {
  #header ul li {
    margin-right: 20px;
  }

  #header {
    padding: 10px;
  }
}
