body {
  font-family: arial;
  background-color: #eee;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #039BE5;
}

a:hover {
  text-decoration: none;
  color: #0277BD;
}
