

#new-video {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-top: 15px;
}

input[type="text"] {
  height: 1.8rem;
  width: 100%;
  font-size: 1.2rem;
}

input[type="submit"] {
  width: 100%;
  margin-top: 20px;
  background-color: #03A9F4;
  border: none;
  color: #fff;
  height: 2rem;
  font-size: 1.1rem;
}

input[type="submit"]:hover {
  background-color: #0277BD;
  cursor: pointer;
}

.text-center {
  text-align: center;
}
