/*--------------- New Video ---------------*/
#new-video {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-top: 15px;
}

input[type="number"], input[type="text"] {
  height: 1.8rem;
  width: 100%;
}

textarea {
  width: 100%;
}

#new-video input[type="number"], input[type="text"], textarea {
  font-size: 1rem;
}

input[type="submit"] {
  width: 100%;
  margin-top: 20px;
  background-color: #03A9F4;
  border: none;
  color: #fff;
  height: 2rem;
  font-size: 1.1rem;
}

input[type="submit"]:hover {
  background-color: #0277BD;
  cursor: pointer;
}


/*--------------- Videos ---------------*/
#videos {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

#videos img {
  height: 200px;
  width: auto;
}

.video {
  margin-left: 40px;
  margin-top: 40px;
  display: inline-block;
}


/*--------------- Video Show ---------------*/

#video-show {
  position:absolute;
  width:100%;
  height:100%;
  z-index:-1;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(7px) contrast(0.8);
  -moz-filter: blur(7px) contrast(0.8);
  -o-filter: blur(7px) contrast(0.8);
  -ms-filter: blur(7px) contrast(0.8);
  filter: blur(7px) contrast(0.8);
}

h1#video-title {
  margin-top: 0;
  position: relative;
  top: 40px;
  font-size: 4rem;
  color: #fff;
}

#video-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 60px;
}

#video-details {
  width: 60%;
  margin-left: 40px;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 0;
}

#video-poster img {
  height: 400px;
  width: auto;
}

#video-poster, #video-details {
  display: inline-block;
}

#video-poster img:hover {
  -webkit-filter: contrast(1.5);
  filter: contrast(1.5);
}

#video-details {
  width: 60%;
  height: auto;
  margin-left: 40px;
}

#video-details li, p, span {
  font-size: 1.2rem;
}

#video-details span {
  color: #aeaeae;
}

#video-details p {
  margin: 0;
}


/*--------------- Video Watch ---------------*/
#video-watch {
  width: 1280px;
  height: auto;
  margin: 0 auto;
}
