/*--------------- New Video ---------------*/
#new-video {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-top: 15px;
}

input[type="number"], input[type="text"] {
  height: 1.8rem;
  width: 100%;
}

textarea {
  width: 100%;
}

#new-video input[type="number"], input[type="text"], textarea {
  font-size: 1rem;
}

input[type="submit"] {
  width: 100%;
  margin-top: 20px;
  background-color: #03A9F4;
  border: none;
  color: #fff;
  height: 2rem;
  font-size: 1.1rem;
}

input[type="submit"]:hover {
  background-color: #0277BD;
  cursor: pointer;
}


/*--------------- Videos ---------------*/
#videos {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

#videos img {
  height: 200px;
  width: auto;
}

.video {
  margin-left: 40px;
  margin-top: 40px;
  display: inline-block;
}


/*--------------- Video Show ---------------*/

#video-show {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

#video-show img {
  height: 400px;
  width: auto;
}

#video-poster, #video-details {
  display: inline-block;
  float: left;
}

#video-details {
  width: 60%;
  height: auto;
  margin-left: 40px;
}

#video-show li, p, span {
  font-size: 1.2rem;
}

#video-show span {
  color: #A8A8A8;
}

#video-show p {
  margin: 0;
}

#video-show img:hover {
  -webkit-filter: contrast(1.5);
  filter: contrast(1.5);
}


/*--------------- Video Watch ---------------*/
#video-watch {
  width: 1280px;
  height: auto;
  margin: 0 auto;
}
